html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Work sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #e3e3e3;
}

button {
    font-family: inherit;
}

#threejs_sec {
    cursor: pointer;
}

#main_canvas {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #192633;
}

#logo {
    position: absolute;
    top: 5vh;
    left: 5vh;
    z-index: 100;
}

#logo img {
    width: 10vw;
}

#splash {
    position: absolute;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    color: #e3e3e3;
    text-shadow: 1px 1px 3px #000000;
    transition: opacity 1000ms;
}

#splash span {
    font-weight: 100;
}

#splash span b {
    font-weight: 600;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    padding-left: 3vw;
    background: linear-gradient(90deg, #192633, transparent);
    transition: opacity 1000ms;
}

.swiper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 50vh;
    width: 20rem;
    -webkit-mask-image: linear-gradient(180deg, #000 5%, #00000085 50%, transparent 95%);
}

.swiper-slide {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    outline: none;
}

.swiper-slide button {
    background: none;
    border: none;
    padding: 0;
    font-size: 150%;
    font-weight: lighter;
    text-align: left;
    color: #e3e3e3;
    outline: none;
}

.swiper-slide-active button {
    font-weight: bold;
}

.swiper-scrollbar {
    visibility: hidden;
}

#exit_cross {
    position: absolute;
    top: 2vw;
    right: 2vw;
    height: 45px;
    width: 45px;
    background-image: url('../media/cross.svg');
    background-size: contain;
    background-color: #FFFFFF40;
    cursor: pointer;
}

.info_block_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: fit-content;
    padding-right: 1rem;
    opacity: 0;
    background-color: #000000cf;
    transition: opacity 600ms;
}

.info_block {
    position: relative;
    top: 25vh;
    padding-left: 2rem;
    width: 32vw;
    color: #e3e3e3;
}

.info_block_content {
    padding-right: 2rem;
    max-height: 50vh;
    overflow: auto;
}

.info_block_return {
    background: none;
    border: none;
    margin: 1.5rem 0 0 0;
    text-align: left;
    font-size: 110%;
    font-weight: bold;
    line-height: 2rem;
    color: #e3e3e3;
}

.info_block_return:hover {
    cursor: pointer;
}

.info_block_return span {
    text-decoration: underline;
}

#scroll_down_footer {
    position: absolute;
    bottom: 3vh;
    width: 100%;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    opacity: 0.75;
    color: #e3e3e3;
}

.styled_scrollbar {
    /* Foreground, Background */
    scrollbar-color: #D9D9D9 #d9d9d940;
  }

  .styled_scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 0px;
  }

  .styled_scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #D9D9D9;
  }

  .styled_scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #d9d9d940;
  }

.transition_sec {
    height: 3vh;
}

.trans_1 {
    width: 90vw;
    margin: 0 auto;
    background-color: #192633;
}

.trans_2 {
    width: 80vw;
    margin: 0 auto;
    background-color: #474e55;
}

.trans_3 {
    width: 70vw;
    margin: 0 auto;
    background-color: #878787;
}

#sec_2d {
    color: #333;
}

#sec_2d div {
    margin-top: 15vh;
}

#sec_2d .transition_sec {
    margin-top: 0;
}

#sec_2d_intro {
    margin: 25vh auto !important;
}

#sec_2d_intro h1 {
    text-align: center;
}

#sec_2d_intro p {
    width: 32rem;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

#sec_2d_quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0 !important;
    padding: 4rem;
    background: #192633;
    color: #e3e3e3;
}

#sec_2d_quote img {
    width: 30%;
    max-width: 350px;
    box-shadow: 0px 2px 7px 1px #000000a0;
}

#sec_2d_quote p {
    width: 45%;
}